<form>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="row">
                    <h2>HOTEL IBIZA</h2>
                    <p>El Hotel Ibiza abre las puertas de un alojamiento inspirado por el mar Mediterráneo, que aúna diseño, funcionalidad y estilo en todos sus espacios. Dividido en dos edificios, este singular hotel boutique de reciente apertura pone a tu disposición suites completamente nuevas que se adaptan a las necesidades de todo tipo de viajeros que buscan disfrutar de la esencia ibicenca.

                    Las estancias han sido diseñadas para transmitir calma y tranquilidad. Los motivos marinos inundan los amplios y luminosos espacios, creando una atmósfera ideal para relajarse con el mar como principal protagonista. El mobiliario, cuidadosamente elegido, aporta un toque vanguardista que se complementa a la perfección con materiales como la madera o el lino. Además, las estancias incorporan una magnífica terraza con vistas a la Playa Figueretas, en la que podrás desayunar, relajarte leyendo un libro o tomando algo en buena compañía.
                        
                    La situación del Eurostars Ibiza es ideal para vivir unas vacaciones en la isla con todos los atractivos que la ciudad ofrece. Tanto si buscas descansar como si buscas disfrutar del animado ritmo de vida ibicenco, tienes a tu disposición una amplia oferta de bares, restaurantes, ocio y playas paradisíacas a tan solo unos minutos del apartotel.
                    </p>
                    <div class="col-3">
                        <img src="" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>